<div class="container">
  <p><%= notice %></p>
  <div class="task-text">
    <p><strong>タイトル</strong>：<%= @task.name %></p>
    <p><strong>詳細</strong>：<%= @task.detail %></p>
  </div>
    <%= link_to '編集', edit_task_path(@task) %> |
  <%= link_to '戻る', tasks_path %>
</div>
