<div class="page-header">
<h1>詳細確認</h1>
</div>

<div class="container">
  <p><%= notice %></p>
  <div class="list-group">
    <a class="list-group-item"><%= t('views.title') %>：<%= @task.name %></a>
    <a class="list-group-item"><%= t('views.detail') %>：<%= @task.detail %></a>
    <a class="list-group-item"><%= t('views.daytime') %>：<%= @task.created_at.to_s %></a>
    <a class="list-group-item"><%= t('views.deadline') %>：<%= @task.deadline.to_s(:date) %></a>
    <a class="list-group-item"><%= t('views.status') %>：<%= @task.status %></a>
    <a class="list-group-item"><%= t('views.pri') %>：<%= @task.priority %></a>
    <a class="list-group-item">
      <% @task.labels.each do |label| %>
        ラベル:<%= label.name %><br>
      <% end %></a>
  </div>
    <%= link_to t('views.edit'), edit_task_path(@task) %>
    <%= link_to t('views.back'), tasks_path %>
</div>
