<h1>プロフィール編集ページ</h1>

<%= form_for [:admin, @user] do |form| %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="actions">
  <%= form.submit "更新" %>
</div>

<% end %>
<%= link_to 'Back', [:admin, @user] %>
